#editTemp s.close, #editMusic s.close {
  width: 0.45rem;
  height: 0.45rem;
  background: url(../../../images/sprite/close.png);
  background-size: 100% 100%;
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}
.animat_item{
  z-index: 4;
}
#tempWrap, #musicWrap {
  width: 10rem;
}

#albumEdit {
  width: 100%;
  height: 1.6rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 5;
}
#albumEdit li {
  width: 25%;
  padding-top: 0.48rem;
}
#albumEdit li span {
  width: 100%;
  height: 0.64rem;
  display: block;
  line-height: 0.64rem;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  font-size: 0.48rem;
  color: #333;
}

#previewShare {
  width: 10.0rem;
  padding-bottom: 0.53rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 5;
}
#previewShare h2 {
  width: 9rem;
  margin-left: 0.5rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 24px;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
  background: #F87512;
}
/* #previewShare li {
  width: 5rem;
  display: flex;
  flex-direction: column;
}
#previewShare li s {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.7rem;
  display: block;
  background-size: 100% 100%;
}
#previewShare li s.shareFriends {
  background-image: url(../../../images/sprite/firends.png);
}
#previewShare li s.shareFriendCircle {
  background-image: url(../../../images/sprite/firends-circle.png);
} 
#previewShare li p {
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-top: 0.21rem;
} */

#shareEdit {
  width: 10.0rem;
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
#shareEdit h2 {
  width: 9rem;
  margin-left: 0.5rem;
  font-weight: 100;
  height: 1.6rem;
  background: #F87512;
  line-height: 1.6rem;
  font-size: 24px;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
}

#editTemp {
  width: 100%;
  height: 0;
  opacity: 0;
  background: #fff;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;
}
#editTemp #tempWrap {
  margin-top: 1.07rem;
  height: 4.67rem;
  overflow-x: scroll;
}
#editTemp #tempWrap ul {
  width: 17.79rem;
  display: flex;
  flex-direction: row;
}
#editTemp #tempWrap ul li {
  width: 1.92rem;
  height: 100%;
  margin-left: 0.27rem;
}
#editTemp #tempWrap ul li img {
  width: 100%;
  height: 2.72rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
}
#editTemp #tempWrap ul li p {
  text-align: center;
  font-size: 0.32rem;
  line-height: 0.59rem;
}
#editTemp #tempWrap ul li.cur img {
  border: 1px solid #F87512;
}
#editTemp #tempWrap ul li.cur p {
  color: #F87512;
}

#editMusic {
  width: 100%;
  overflow: hidden;
  height: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;
}
#musicWrap {
  position: absolute;
  top: 1.07rem;
  height: 10rem;  
  width: 10rem;
  overflow-y: scroll;
}
#editMusic #musicWrap ul {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#editMusic #musicWrap ul li.cur {
  border-color: #f87512;
}
#editMusic #musicWrap ul li.cur h3, #editMusic #musicWrap ul li.cur p {
  color: #f87512;
}
#editMusic #musicWrap ul li {
  width: 4.53rem;
  height: 1.33rem;
  border: 1px solid #d4d4d4;
  margin: 0 0 0.3rem 0.3rem;
  border-radius: 0.2rem;
}
#editMusic #musicWrap ul li h3 {
  font-size: 0.43rem;
  line-height: 0.59rem;
  padding: 0.16rem 0.16rem 0 0.16rem;
  color: #000;
}
#editMusic #musicWrap ul li p {
  padding-left: 0.16rem;
  color: #9b9b9b;
}
